body {
    font-family: "Poppins", sans-serif;
    background-color: #fdf6f0;
}
/* Navbar */
.navbar {
    background-color: #fdfdfd !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 50px;
    border-radius: 5%;
    margin: 0 5px;
}
.nav-link {
    color: #6a2e03 !important;
    font-weight: 500;
}
.nav-link:hover {
    color: #400054 !important;
}

.navbar-brand span {
    color: #6a2e03;
}
/* Hero */
#hero {
    background: linear-gradient(rgba(78, 52, 46, 0.85), rgba(78, 52, 46, 0.85)),
        url("https://images.unsplash.com/photo-1519682337058-a94d519337bc?auto=format&fit=crop&w=1600&q=80")
            center/cover no-repeat;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}
/* Animated Text */
.animated-text span {
    opacity: 0;
    display: inline-block;
    transition: opacity 0.3s ease-in;
}

footer {
    background: #4e342e;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Carousel */
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 40%;
}

/* Floating Button */
#music-control {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.music-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #6f4e37; /* coklat kopi */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
    color: white;
    font-size: 28px;
}

.music-btn:hover {
    background: #8b5e3c;
}

/* Animasi disc berputar */
.rotate {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 1.8rem;
    }
    #hero p {
        font-size: 1rem;
    }
        .carousel-item img {
            max-height: 300px;
            margin: 0 25%;
        }
}
